ul.main-menu {
    list-style-type: none;
    text-align: center;
    & > li {
        display: inline;
        & > a {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
        }
        &:hover {
            & > ul.sub-menu {
                display: block;
            }
        }
    }
}

ul.sub-menu {
    display: none;
    list-style-type: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    & > li {
        display: inline;
        background-color: green;
        & > a {
            display: inline-block;
            color: white;
        }
    }
}
