// Style for main menu
  ul[role="menubar"] {
    list-style-type: none;
    text-align: center;
    & > li {
	  display: inline;
	  text-align: center;
	  position: relative;
	  padding: 0 10px 20px 10px;
	  & > a {
		color: #2ca600;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
	  }
	  &:hover > a {
		color: #007b13;
	  }
	  &:hover > ul.child-menu {
		display: table;
	  }
	  // Draw arrow
	  &.has-children:hover:after {
		top: 10px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(44, 166, 0, 0);
		border-bottom-color: #2ca600;
		border-width: 10px;
		margin-left: -10px;
		z-index: 1;
	  }
      
      & > ul.child-menu {
            transform: translateX(50%);
      }
      &:nth-child(1) {
        & > ul.child-menu {
            transform: none;
            left: 0%;
            right: auto;
        }
      } 
      &:nth-last-child(1) {
        & > ul.child-menu {
            transform: none;
            left: auto;
            right: 0%;
        }
      }      
	}
  }

// Style for child menu
  ul.child-menu {
    display: none;
    list-style-type: none;
    position: absolute;
	top: 30px;
	//left: 0%;
	padding: 25px;
	z-index: 1;
    width: 700px;
	background-color: #2ca600;
    & > li {
	  display: inline;
	  text-align: center;
      position: relative;
	  padding: 10px;
	  & > a {
		color: #FFFFFF;
		display: inline-block;
		
        text-decoration: none;
		&:hover:after {
		  content: "";
		  width: 33%;
		  position: absolute;
		  top: 30px;
		  left: 33%;
		  border-bottom: 2px solid #FFFFFF;
		}
	  }
    }
  }