ul.main-menu {
   list-style-type: none;
    text-align: center;
    & > li {
	  display: inline;
	  text-align: center;
	  position: relative;
	  padding: 0 10px 20px 10px;
	  & > a {
		color: #2ca600;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
	  }
	  &:hover > a {
		color: #007b13;
	  }
	  &:hover > ul.sub-menu {
		display: table;
	  }
	  // Draw arrow
	  &:hover:after {
		top: 10px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(44, 166, 0, 0);
		border-bottom-color: #2ca600;
		border-width: 10px;
		margin-left: -10px;
		z-index: 1;
	  }
	}
  }


ul.sub-menu {
    display: none;
    list-style-type: none;
    position: absolute;
	top: 30px;
	left: 0%;
	padding: 25px;

	// Draw arrow
	&:after > li {
	  bottom: 100%;
	  left: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-color: rgba(136, 183, 213, 0);
	  border-bottom-color: #2ca600;
	  border-width: 10px;
	  margin-left: -10px;
	}

	background-color: #2ca600;
    & > li {
	  display: inline;
	  text-align: center;
	  padding: 10px;
	  & > a {
		color: #FFFFFF;
		display: inline-block;
		text-decoration: none;
		&:hover {
		  //border-bottom: 3px solid #FFFFFF;
		}
	  }
    }
  }
